# =========================
# Build
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Node Modules
# =========================
node_modules/

# =========================
# React Build
# =========================
dist/
build/

# =========================
# Docker
# =========================
docker-data/

# =========================
# Test Results
# =========================
TestResults/
coverage/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# SQL Server
# =========================
*.mdf
*.ldf

# =========================
# Publish
# =========================
publish/

# =========================
# Secrets
# =========================
secrets.json
appsettings.Development.json